:root {
    --back: #121212;
    --white: #ffffff;
    --red: #ED221D;
}

*{
    padding: 0;
    margin: 0;
    color: #fff;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a{
    height: fit-content;
    width: fit-content;
}

body{
    -webkit-tap-highlight-color: transparent;
}

.hero{
    background: #202020;
    padding: 4rem auto;
}

.sub-hero{
    margin: 2rem 1rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.hero-image{
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.hero-image img{
    width: 90%;
}

.hero-text{
    width: 50%;
    z-index: 3;
}

.hero-text h3{
    font-weight: 400;
}

.hero-text h1{
    font-weight: 600;
}

.ca-button{
    border-radius: 9999px;
    color: #fff;
    background-color: #ED221D;
    outline: none;
    border: none;
    cursor: pointer;
}

.ca-button:hover{
    outline: none;
    background-color: #941210;
    transition: all .3s ease-in-out;
}

.ca-button:focus{
    outline: none;
}

#about-section{
    margin: auto;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    max-width: 70%;
}

#about-section h1{
    margin-bottom: 20px;
}

#about-section p{
    font-weight: 100;
    line-height: 2.1rem;
}

.stats{
    min-height: 150px;
}

.stats-wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsors{
    min-height: 500px;
}

.sub-card{
    justify-content: space-evenly;
}

.counter-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-wrapper .plus{
    font-size: 2rem;
    margin-left: 1px;
}

.sponsor-head{
    font-size:  1.55rem;
    font-weight: 300;
}

.parent-color{
    background: #202020;
}

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.flex{
    display: flex;
    align-items: center;
}

.form-box-main{
    background: #121212;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom-input-dark{
    background: none;
    outline: none;
    height: 40px;
    width: 80%;
    margin: 0.8rem 0;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
}

.custom-text-area-dark{
    background: none;
    outline: none;
    width: 80%;
    margin: 0.8rem 0;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 0.9rem 1.2rem;
    font-size: 1.1rem;
}

.custom-contact-join-btn{
    background: #ED221D;
    outline: none;
    width: 15%;
    margin: 0.8rem 0;
    border: none;
    border-radius: 15px;
    line-height:1.2rem;
    padding: 0.6rem 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
}

.custom-contact-join-btn:hover{
    outline: none;
    background-color: #941210;
    transition: all .3s ease-in-out;
}

.form-box-main:before {
    position: relative;
    content: "Any queries";
    background: #313131;
    font-size: 2rem;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    border-radius: 1.1rem;
    text-align: center;
    bottom: 30px;
}

@media (max-width: 1245px) {
    #about-section{
        min-height: 350px;
        padding: 16px;
        max-width: 90%;
    }
    #about-section p{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media(max-width: 940px){
    #about-section{
        min-height: 280px;
    }
    #about-section h1{
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    #about-section p{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .form-box-main:before {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }
    .custom-contact-join-btn{
        width: 15%;
        border-radius: 15px;
        padding: 0.4rem 0.6rem;
        font-size: 1rem;
    }
}

@media(max-width: 785px){
    #about-section{
        min-height: 240px;
    }
    #about-section h1{
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }
    #about-section p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .form-section{
        height: 620px;
    }
    .form-box-main:before {
        font-size: 1.2rem;
    }
    .custom-contact-join-btn{
        width: 12%;
        border-radius: 10px;
        font-size: 0.8rem;
    }
    .form-section{
        height: 620px;
    }
    .custom-input-dark{
        height: 40px;
        border-radius: 10px;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }

    .custom-text-area-dark{
        border-radius: 10px;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }
}

@media(max-width: 645px){
    #about-section p{
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    .form-section{
        height: 480px;
    }
    .form-box-main:before {
        font-size: 1rem;
        border-radius: 0.8rem;
        padding: 0.6rem 0.6rem;
    }
    .custom-input-dark{
        height: 30px;
        width: 90%;
        margin: 0.5rem 0;
        border-radius: 10px;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }

    .custom-text-area-dark{
        width: 90%;
        margin: 0.5rem 0;
        border-radius: 10px;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }

    .custom-contact-join-btn{
        width: 15%;
        margin: 0.6rem 0;
        padding: 0.4rem 0.7rem;
        font-weight: 500;
        border-radius: 12px;
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
}

@media(max-width: 502px){
    #about-section{
        max-width: 95%;
    }
    #about-section h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }
    #about-section p{
        font-size: 0.7rem;
        line-height: 1.1rem;
    }
    .form-section{
        height: 480px;
    }
    .form-box-main:before {
        width: 32%;
        font-size: 0.9rem;
        border-radius: 0.7rem;
        padding: 0.4rem 0.4rem;
        bottom: 18px;
    }
    .custom-contact-join-btn{
        width: 18%;
        margin: 0.6rem 0;
        padding: 0.2rem 0.5rem;
        font-weight: 500;
        border-radius: 8px;
        font-size: 0.7rem;
        margin-bottom: 1.5rem;
    }
    .custom-input-dark{
        height: 30px;
        width: 90%;
        margin: 0.5rem 0;
        border-radius: 8px;
        padding: 0.3rem 0.5rem;
        font-size: 0.7rem;
    }

    .custom-text-area-dark{
        width: 90%;
        margin: 0.5rem 0;
        border-radius: 10px;
        padding: 0.3rem 0.5rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 380px){
    #about-section{
        max-width: 95%;
        min-height: 200px;
    }
    #about-section h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }
    #about-section p{
        font-size: 0.6rem;
        line-height: 1.1rem;
    }
    .form-section{
        height: 390px;
    }
    .form-box-main:before {
        width: 32%;
        border-radius: 0.6rem;
        font-size: 0.7rem;
        padding: 0.4rem 0.4rem;
        bottom: 18px;
    }
    .custom-contact-join-btn{
        width: 20%;
        margin: 0.6rem 0;
        padding: 0.2rem 0.5rem;
        font-weight: 500;
        border-radius: 7px;
        font-size: 0.6rem;
        margin-bottom: 1.5rem;
    }
}

/* HERO PART */
@media(max-width: 768px){
    .ca-button{
        font-size: 0.7rem;
        line-height: 1rem;
    }
}

@media(max-width: 540px){
    .hero-text h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .hero-text h3{
        font-size: 0.6rem;
        line-height: 1rem;
    }
    .ca-button{
        font-size: 0.5rem;
        line-height: 1rem;
    }
}

@media (max-width: 400px) {
    .hero-text h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .hero-text h3{
        font-size: 0.5rem;
        line-height: 1rem;
    }
    .ca-button{
        font-size: 0.3rem;
        line-height: 0.65rem;
        padding: 0;
    }
}

/* Tailwind CSS */
.hero .sub-hero{
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.hero .sub-hero .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .sub-hero h1{
    /* 5xl */
    font-size: 3rem;
    line-height: 1;
}
.hero .sub-hero h3{
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.25rem;
}
.hero .sub-hero .ca-button{
    padding: 0.25rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-5xl{
    font-size: 3rem;
    line-height: 1;
}

.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}

.mt-2{
    margin-top: 0.5rem;
}


/* XL-Tailwind-CSS */
/* @media (max-width:1280px) { */
    .hero .sub-hero{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .hero .sub-hero h1{
        /* 8xl */
        font-size: 4.5rem;
        line-height: 1;
    }
    .hero .sub-hero h3{
        /* 3xl */
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .hero .sub-hero .ca-button{
        padding: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-top: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 1.5rem;
    }
/* } */

/* lg-Tailwind-CSS */
@media (max-width: 1024px){
    .hero .sub-hero{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .hero .sub-hero h1{
        /* 3xl */
        font-size: 3rem;
        line-height: 1;;
    }
    .hero .sub-hero h3{
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 0px;
    }
    .hero .sub-hero a{
        display: flex;
    }
    .hero .sub-hero .ca-button{
        padding: 0.25rem;
        padding: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-top: 1rem;
        font-size: 0.55rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        line-height: .75rem;
    }
}

/* md-Tailwind-CSS */
@media (max-width: 700px) {
    .hero .sub-hero{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .hero .sub-hero h1{
        /* 5xl */
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .hero .sub-hero h3{
        font-size: 0.55rem;
        line-height: 0.8rem;
        margin-top: 0.25rem;
    }
    .hero .sub-hero .ca-button{
        margin-top: 0.5rem;
        padding: 0.05rem;
        font-size: 0.4rem;
        line-height: 0.6rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
}

@media (max-width: 420px) {
    .hero .sub-hero{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .hero .sub-hero h1{
        /* 5xl */
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .hero .sub-hero h3{
        font-size: 0.4rem;
        line-height: 0.5rem;
        margin-top: 0.1rem;
    }
    .hero .sub-hero .ca-button{
        margin-top: 0.3rem;
        padding: 0.02rem;
        font-size: 0.3rem;
        line-height: 0.5rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}



.partner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-img img{
    max-width: 70%;
    opacity: 0.85;
}


@media (max-width: 992px){
    .partner-img img{
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .partner-img img{
        max-width: 30%;
    }
}

.counter-up{
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.counter-up .content{
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.counter-up .content .box{
    width: calc(25% - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.content .box .counter{
    font-size: 40px;
    font-weight: 500;
    color: #f2f2f2;
}
.content .box .text{
    font-weight: 400;
    color: #ccc;
}
@media screen and (max-width: 1036px) {
    .counter-up{
        padding: 0px 45px 0 45px;
    }
    .counter-up .content .box{
        width: calc(50% - 30px);
        /* margin-bottom: 50px; */
    }
}
@media screen and (max-width: 580px) {
    .counter-up .content .box{
        width: 100%;
    }
    .counter-up .content .stats-programs{
        font-size:12px;
        display: none;
    }
    .content .box .counter{
        font-size: 25px;
    }
    .content .box .text{
        font-size: 12px;
    }
    .counter-up .content{
        flex-wrap: wrap;
    }
}

@media (max-width: 580px) {
    .text-5xl{
        font-size: 1.9rem;
        line-height: 2rem;
    }
    .sponsor-head{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .counter-up{
        padding: 0px 10px 0 10px;
    }
}
