:root {
    --back: #121212;
    --white: #ffffff;
    --red: #ED221D;
}


*{
    padding: 0;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

html{
    scroll-behavior: smooth;
}

body{
    background: #121212;
}

.default-nav{
    /* max-width: 1280px; */
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    padding-right: 2.5rem;
}

.default-nav .logo img{
    width: 55%;
}

.default-nav .navbar-list ul{
    display: flex;
    align-items: center;
}

.default-nav ul li{
    list-style: none;
    font-size: 1.25rem;
line-height: 1.75rem;
margin-left: 1.5rem;

}

.default-nav ul li a{
    color: #fff;
    /* font-size: 1.5rem; */
    text-decoration: none;
    font-weight: lighter;
}

.default-nav ul li a:hover {
    color: #ED221D;
    transition: all .3s ease-in-out;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1130px) {
    .mobile-nav{
        display: none;
    }
}


@media(max-width: 1130px){
    .default-nav{
        display: none;
    }
    

    .mobile-nav{
        margin: auto auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        padding-right: 2.5rem;
    }

    .mobile-nav .logo img{
        width: 45%;
    }
    /**********ul.toogle*********/
    .mobile-nav .container-nav ul.toggle{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        /* position: fixed; */
        z-index: 5;
        /* top: 5%;  right: 5%; */
        width: 35px;   height: 25px;
        cursor: pointer;
    }
    .mobile-nav .container-nav ul.toggle li{
        /* position: absolute; */
        transform: translateY(-50%);
        height: 2.5px;  width: 90%;
        border-radius: 2px;
        list-style: none;
        background: #fff;
        transition: .9s;
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(1){
        margin-top: 6px;
        transform: translateY(-50%) rotate(45deg);
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(2){
        margin-right: 100%;
        opacity: 0;
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(3){
        margin-bottom: 17px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    /******Sidebar******/
    .mobile-nav .container-nav .sidebar{
        position: fixed;
        top: 0;  left: -350px;
        background: #262626;
        width: 350px;   height: 100vh;
        box-sizing: border-box;
        padding: 50px 40px;
        text-align: center;
        transition: .9s;
        z-index: 4;
    }
    .mobile-nav .container-nav .sidebar.active{
        left: 0;
    }
    .mobile-nav .container-nav .sidebar img{
        position: relative;
        width: 150px;  height: 150px;
        border-radius: 50%;
        /* background: #fff;     */
        border: 1px solid white;
    }
    .mobile-nav .container-nav .sidebar img:hover{
        background:#121212b7;
        transition: all 0.3s ease-in-out;
    }
    .mobile-nav .container-nav .sidebar ul.menu{
        position: relative;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .mobile-nav .container-nav .sidebar ul.menu li{
        list-style: none;
    }
    .mobile-nav .container-nav .sidebar ul.menu li a{
        display: inline-block;
        position: relative;
        text-decoration: none;  text-transform: uppercase;
        color: #fff;
        width: 100%;  padding: 10px 0;
        box-sizing: border-box;
        font-size: 20px;
    }
    .mobile-nav .container-nav .sidebar ul.menu li:hover a{
        /* background: #ff5722; */
        color: #ED221D;
    }
}

@media (max-width: 794px) {
    .mobile-nav{
        padding: 0 2rem;
        padding-top: 1rem;
    }

    .mobile-nav .logo img{
        width: 35%;
    }
    /**********ul.toogle*********/
    .mobile-nav .container-nav ul.toggle{
        width: 25px;
    height: 16px;
    }
    .mobile-nav .container-nav ul.toggle li{
        height: 2px;  
        width: 90%;
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(1){
        margin-top: 0px;
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(3){
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .mobile-nav{
        padding: 0 1.2rem;
        padding-top: 0.5rem;
    }
}

@media (max-width: 430px) {
    .mobile-nav{
        padding: 0 1rem;
        padding-top: 0.4rem;
    }
    
    .mobile-nav .logo img{
        width: 30%;
    }
    /**********ul.toogle*********/
    .mobile-nav .container-nav ul.toggle li{
        height: 1px; 
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(1){
        margin-top: 16px;
    }
    .mobile-nav .container-nav ul.toggle.active li:nth-of-type(3){
        /* margin-bottom: 16px; */
    }
    .mobile-nav .container-nav ul.active{
        display: block;
        position: relative;
        height: 30px;
    }
    
}