*{
    padding: 0;
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    color: #fff;
}

a{
  text-decoration: none;
}

.home{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.row{
  --bs-gutter-x: 0;
}
.col-lg-6{
  margin: auto;
}

.contact-img{
  width: 85%;
}

.parent-color{
    background: #202020;
}

.form-box-main{
    background: #121212;
    border: solid 2px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: 0 30px;
}

.custom-input-dark{
    background: none;
    outline: none;
    height: 40px;
    width: 80%;
    margin: 0.8rem 0;
    border: 1px solid #444444;
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
    font-size: 1.3rem;
}

.custom-text-area-dark{
    background: none;
    outline: none;
    width: 80%;
    margin: 0.8rem 0;
    border: 1px solid #444444;
    border-radius: 20px;
    padding: 0.9rem 1.2rem;
    font-size: 1.3rem;
}

.form-box-main:before {
    border: solid 3px #EE4624;
    position: relative;
    content: "Contact Us";
    background: #313131;
    font-size: 1.2rem;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 1.3rem;
    text-align: center;
    bottom: 30px;
}
