@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to bottom, #131313, #1A1A1A);
  color: #fff;
  padding: 25px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
.logo{
  width: 230px;
  margin-bottom: 30px;
}
.col h3{
  width: fit-content;
  border-bottom: 40px;
  position: relative;
  margin: 20px 0;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.email-id a{
  color: #fff;
}
.tel a{
color: #fff;
}
a:hover{
  color: darkgoldenrod;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: #fff;
}
.social-icons .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 21px;
  color: #fff;
  background: #1A1A1A;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.social-icons .fab:hover{
  color: goldenrod;
  background-size: 120%;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .col{
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;
}
}