a{
  text-decoration: none;
}

.collapse{
    margin: 0 2rem;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;  
  }
  
  .collapse .navbar-nav .nav-item{
    margin-right: 1rem;
  }

.parent-color{
    background-color: #202020;
}

.about-text h1{
    color: #fff;
    padding-top: 5rem;
}

.about-text p{
    color: #fff;
    font-size: 1.2rem;
    padding: 0.3rem 0 3rem 0;
}


@media (max-width: 1145px) {
    .about-text p{
        color: #fff;
        font-size: 1rem;
    }
}
