.parent-color{
    background-color: #202020;
}

.about-text h1{
    color: #fff;
}

.about-text p{
    color: #fff;
    font-size: 1.5rem;
}


@media (max-width: 1145px) {
    .about-text p{
        color: #fff;
        font-size: 1rem;
    }
}
