@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

*{
  color: white;
} 

ul{
  margin-bottom: 0px;
}

#nav-placeholder ul li a{
  padding-right: 0;
}

.team-executive, .team-creative, .team-marketing{
  background-color: #202020;
}

.team-mentor, .team-event{
  background-color: #121212;
}

.team ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.head{
  color: white;
}
.crop{
    width: 181px;
    height: 181px;
    justify-content: center;
    padding: 6px;
    overflow:hidden;   
    position:relative;
    display: inline-block;
    align-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */
}

.center{
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
}

.cropVIP{
  width: 220px;
    height: 220px;
    justify-content: center;
    padding: 6px;
    overflow:hidden;   
    position:relative;
    display: inline-block;
    align-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */

}
.cropCA{
  width: 190px;
    height: 190px;
    justify-content: center;
    padding: 6px;
    overflow:hidden;   
    position:relative;
    display: inline-block;
    align-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */

}

